{% extends "layout.html" %}

{% block title %}
    login
{% endblock %}

{% block main %}
<script>
  // Javascript to perform frontend validation 
function validateForm() {
  let x = document.forms["login"]["username"].value;
  let y = document.forms["login"]["password"].value;
  if (x == "") {
    alert("Username must be filled out");
    return false;
  }
    if (y == "") {
    alert("password must be filled out");
    return false;
  }
}
</script>
<div class = 'centreForm' >
  <!-- form that takes in the users username and passowrd and send it to the login route -->
  <form action="/login" method="post" name = login onsubmit=" return validateForm()">
      <div class="mb-3">
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required >
      </div>
      <div class="mb-3">
          <input class="form-control mx-auto w-auto " id="password" name="password" placeholder="Password" type="password" required>
      </div>
      <button class="btn btn-primary" style="margin-left: 47%" type="submit">Log In</button>
  </form>
  <p style="margin-left: 38%" class = error >{{ fail }}</p>
</div>
{% endblock %}